.csi-banner-particle  {
    position: relative;
    width: 100%;
}

.csi-banner-particle  .particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}


.csi-banner-particle .action-area .csi-btn{

    position: relative;
    z-index: 2;
}


#csi-main-slider .owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


#csi-main-slider .owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
}
